.footer {
    background-color: var(--footerbgc-color);
    padding: 60px 0;
}

.footer-logoweb {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--hover-color);
    margin-bottom: 20px;
    display: block;
}

.footer-logostudio {
    color: var(--textwhite-color);
}

.footer-conteiner {
    display: flex;
    align-items: baseline;
}

.footer-conteiner__contacts {
    display: block;
}

.contact-list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--p-color);
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--hover-color);
            fill: var(--hover-color);
        }
}

.contactlist-item:not(:first-child) {
    margin-top: 9px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--textwhite-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--hover-color);
            fill: var(--hover-color);
        }
}

.footer-form {
    margin-left: auto;
}

.footer-form__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--textwhite-color);
}

.footer-conteiner__join {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--textwhite-color);
    margin-left: 70px;
}

.footer-icons {
    display: flex;
    margin-top: 20px;
}

.footer-icon {
    width: 44px;
    height: 44px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    fill: var(--textwhite-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:first-child) {
            margin-left: 10px
        }
    
    &:hover,
    &:focus {
            background-color: var(--hover-color);
        }
}


.footertlink-icon {
    width: 20px;
    height: 20px;
    fill: var(--textwhite-color);
}

.footer-submit {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.footer-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    padding-left: 16px;
    background-color: var(--footerbgc-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.submit-button {
    display: flex;
    align-items: center;

    height: 50px;
    padding: 10px 28px;
    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--textwhite-color);
}

.icon-send {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.logostudio-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--textwhite-color);
}