
@media screen and (max-width: 480px) {
    .header-contact-items{
        margin-left: 40px;
    }
    .header-contact-item{
        margin-bottom: 40px;
    }
    .header-tel {
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--p-color);
        margin-top: 300px;
        margin-left: 40px;
        }
    
        &:hover,
        &:focus {
            color: var(--hover-color);
            fill: var(--hover-color);
            }
    .header-mail {
        font-style: normal;
        font-weight: 500;
        font-weight: 500;
            font-size: 24px;
            line-height: 1.16px;
            letter-spacing: 0.02em;
        color: var(--p-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

        &:hover,
        &:focus {
            color: var(--hover-color);
            fill: var(--hover-color);
            }
    
        }

                // .header-tel {
                //     font-style: normal;
                //     font-weight: 500;
                //     font-size: 34px;
                //     line-height: 1.14;
                //     letter-spacing: 0.03em;
                //     color: var(--p-color);
                //     padding-top: 32px;
                //     padding-bottom: 32px;
                //     display: flex;
                //     align-items: center;
                //     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                //         fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                // }
        
                // &:hover,
                // &:focus {
                //     color: var(--hover-color);
                //     fill: var(--hover-color);
                // }

                                // .header-mail__icon {
                                //     width: 16px;
                                //     height: 12px;
                                //     margin-right: 10px;
                                //     fill: currentColor;
                
                                //     &:hover,
                                //     &:focus {
                                //         color: var(--hover-color);
                                //         fill: var(--hover-color);
                                //     }
                                // }
                
                                // .header-tel__icon {
                                //     width: 10px;
                                //     height: 16px;
                                //     margin-right: 10px;
                                //     fill: currentColor;
                
                                //     &:hover,
                                //     &:focus {
                                //         color: var(--hover-color);
                                //         fill: var(--hover-color);
                                //     }
                                // 
        // .header-mail {
        //     font-style: normal;
        //     font-weight: 500;
        //     font-weight: 500;
        //     font-size: 24px;
        //     line-height: 1.16px;
        //     letter-spacing: 0.02em;
        //     color: var(--p-color);
        //     padding-top: 32px;
        //     padding-bottom: 32px;
        //     display: flex;
        //     align-items: center;
        //     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        //         fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        // }
    
        // &:hover,
        // &:focus {
        //     color: var(--hover-color);
        //     fill: var(--hover-color);
        // }