.ourworks {
    padding-top: 0;
}

.ourworks-items {
    display: flex;
    justify-content: space-between;
}

.works-item:not(:first-child) {
    margin-left: 30px;
}

.ourworks-items__card {
    position: relative;
}

.ourworks-items__text {
    display: flex;
    position: absolute;
    width: 370px;
    height: 70px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--textwhite-color);
    bottom: 0;
    justify-content: center;
    align-items: center;
}