.ourteam {
    background-color: #F5F4FA;
}

.specialist-card {
    width: 270px;
    text-align: center;
    background: var(--textwhite-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:first-child) {
            margin-left: 30px;
        }
}

.specialists {
    display: flex;
}

.specialist-card__text {
    padding: 30px 0;
}

.specialist-card__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--titletext-color);
    margin-top: 0;
    margin-bottom: 10px;
}

.specialist-card__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.specialistlink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    cursor: pointer;
    color: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: var(--hover-color);
            color: var(--textwhite-color);
            }
}

.specialistlink-items {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.specialistlink-items__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}