

@media screen and (max-width: 480px) {
    .header-container__items {
        width: 100%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        }
.header-container__logoweb {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #2196F3;
    }

    .logostudio {
        color: #000000;
    }

    .current {
        color: var(--hover-color);
    }

    .header-container {
        
        border-bottom: 1px solid var(--headerline-color);
        height: 60px;
    }
    .burger-btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
        line-height: 0;
        padding: 0;
    }    
    .burger-icon{
        width: 40px;
        height: 40px;
    }
    
}