body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: #ffffff;
    color: #757575;
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul,
h2,
p {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.secondary-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--titletext-color);
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}