:root {
    --titletext-color: #212121;
    --p-color: #757575;
    --hover-color: #2196F3;
    --textwhite-color: #ffffff;
    --backgroundfilter-color: #EEEEEE;
    --footerbgc-color: #2F303A;
    --black-color: #000000;

    --noname-color: #F5F4FA;
    --noname-color: #FFFFFF 60%;
    --headerline-color: #ECECEC;
}